* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(13, 204, 197);
  background: -moz-linear-gradient(
    180deg,
    rgba(13, 204, 197, 1) 0%,
    rgba(62, 100, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(13, 204, 197, 1) 0%,
    rgba(62, 100, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(13, 204, 197, 1) 0%,
    rgba(62, 100, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dccc5",endColorstr="#3e64ff",GradientType=1);
}
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter {
  width: 20%;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: left;
  padding-left: 20px;
  justify-content: space-evenly;
  flex-direction: column;
}
.filter p{
  font-size: large;
  font-weight: bolder;
}
.filter input{
  font-weight: bold;
}
.prodlist {
  width: 70%;
  height: 90%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 100px);
  gap: 1%;
}
.product {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.product img {
  width: 90%;
  margin: auto;
  height: 150px;
}
.navbar {
  background: #fff;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input_search {
  width: 50%;
  height: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 20px;
}
.input_search :focus {
  border: 1px solid #3eff64;
}

@media screen and (max-width:1000px) {
  .filter {
    width: 30%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: left;
    padding-left: 20px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .filter p{
    font-size: large;
    font-weight: bolder;
  }
  .filter input{
    font-weight: bold;
  }
  .prodlist {
    width: 65%;
    height: 90%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 100px);
    gap: 1%;
  }
}

@media screen and (max-width:500px) {
  .filter {
    width: 40%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: left;
    padding-left: 20px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .filter p{
    font-size: large;
    font-weight: bolder;
  }
  .filter input{
    font-weight: bold;
  }
  .prodlist {
    width: 55%;
    height: 90%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 100px);
    gap: 1%;
  }
}
